.artReflection_section{

    background-image: linear-gradient(to bottom, #ceaaaa, #d6b9b9, #FFFFFF, #FFFFFF, #FFFFFF);
}
.card-img-top{
    width: 280px;
    height: 400px;
}

.card-body{
    display: flex;
    align-items: flex-start;
}
.card{
    height: 490px;
}

.profileImg{
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.userDetails{
    margin-top: 8%;
    margin-left: 10%;
}

.right_side_content{
    margin-top: 25%;
    border: 0.6px solid red;
    border-radius: 25px;
    height: 375px;
    width: 474px;
    background: rgba(232, 232, 232, 0.3);

}

.ourArtHeading{
    width: 452px;
    height: 53px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0);
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #feba11;
    padding-top: 10%;
}

.right_side_desc{
    width: 475px;
    height: 287.4px;
    margin: 82.2px 0 5.4px 0px;
    /* padding: 133.4px 72px 70.3px 71px; */
    opacity: 0.7;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    text-align: center;
    color: #666;
}

.iconRed{
    margin-top: 3%;
    margin-bottom: 2%;
    color:#FFFFFF;
    background-color: #b22222;
    border-radius: 50%;  
    height: 50px;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.speedBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 555px;
    margin-left: 30%;
    margin-top: 6%;
    border: 0.7px solid #b22222;
    border-radius: 15px;
}

.art_reflection_card{
    border-radius: 15px;
    border: 0.7px solid goldenrod;
}

.usernmae{
    margin: 0;
}

.nftTitle{
    margin-bottom: 2%;
}

.powerToArtist{
    margin-top: 3%;
}